<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @regi.name %>
</p>

<p>
  <strong>Age:</strong>
  <%= @regi.age %>
</p>

<%= link_to 'Edit', edit_regi_path(@regi) %> |
<%= link_to 'Back', regis_path %>
