
<center><table summary="Subject form fields"></center>
  <tr>
    <th><%= f.label(:name, 'Name')%></th>
    <td><%= f.text_field(:name) %></td>
  </tr>
  <tr>
    <th><%= f.label(:age, 'Age')%></th>
    <td><%= f.number_field(:age) %></td>
  </tr>
  <tr>
    <th><%= f.label(:description, 'Description')%></th>
    <td><%= f.text_area(:content, :size => '25x2') %></td>
  </tr>
  <tr>
    <th><%= f.label(:phone_number, 'Phone_number')%></th>
    <td><%= f.number_field(:phone_number) %></td>
  </tr>
  <tr>
    <th><%= f.label(:created_at)%></th>
    <td><%= f.datetime_select(:created_at => [:month, :day, :year]) %></td>
  </tr>
  </tr>
</table>