<% @page_title = 'New Detail' %>

<center><%= link_to('Back to List', {:action => 'index'}, :class => 'back-link') %>

<div class="details new">
  <h1>Create Detail</h1>

  <%= form_for(:details, :url => {:action => 'create'}) do |f| %>
    <% if @details.errors.any? %>
    <div class="alert alert-danger" >
      <% @details.errors.full_messages.each do |message| %>
        <div><%= message %></div>
      <% end %>
    </div>
  <% end %>


      <table summary="Subject form fields">
        <tr>
          <th><%= f.label(:name, 'name')%></th>
          <td><%= f.text_field(:name, class: "form-control")%></td>
        </tr>
        <tr>
          <th><%= f.label(:age, 'Age')%></th>
          <td><%= f.number_field(:age, class: "form-control") %></td>
        </tr>
        <tr>
          <th><%= f.label(:description, 'Description')%></th>
          <td><%= f.text_area(:description, :size => '25x2', class: "form-control") %></td>
        </tr>
        <tr>
          <th><%= f.label(:phone_number, 'Phone_number')%></th>
          <td><%= f.number_field(:phone_number, class: "form-control") %></td>
        </tr>
        </tr>
      </table>

        <button class="btn btn-outline-success" type="submit">Create Detail</button>

      </div>
      
      <% end %>
    </div>
    